body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

h1 {
  font-size: 2.5rem;
}

input {
  border: none;
  outline: none;
  border-radius: 10px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* center everything */
}
